/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.calva/
/.calva
/.clj-kondo

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

/*-calva-repl
/*.transit.json