/* some css style */

.main-style {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: ‘Open Sans’, sans-serif;
    border: 3px solid #ccc;
    background-color: #F0FFFF;
  }
  
  .button-style {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: transform 0.2s ease-in-out;
  }

  .button-style:hover {
    transform: scale(1.5);
  }

  .garbage-can-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color:#ffc400;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
  }
  .garbage-can-button:hover {
    transform: scale(1.5);
  }

  
  .input-style {
    color: transparent;
    font-size: 18px;
    padding: 10px;
    border: 4px solid #cfc;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: inherit;
    position: relative;
    justify-content: left;
    pointer-events: none;
  }

  .input-container {
    position: relative;
  }
  
  .styled-letters {
    position: absolute;
    font-size: 22px;
    margin-top: 14px;
    margin-left: 14px;
    top: 0;
    left: 0;
    text-align: center;
    pointer-events: none;
  }
  
  .side-panel-style {
    flex: 1;
    padding: 10px;
    margin-left: 20px;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    max-width: 200px;
  }
  
  .main-panel-style {
    max-width: 280px;
  }
  
  .main-container-style {
    display: flex;
    justify-content: space-around;
  }
  
  .body-background {
    background-image: url('images/tokimemobgscroll.gif');
    background-repeat: repeat;
  }

/* animation */

  @keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-5px, 0px); }
    50% { transform: translate(5px, 0px); }
    75% { transform: translate(-5px, 0px); }
    100% { transform: translate(0px, 0px); }
  }

  @keyframes angry-shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
  }

  .shake {
    animation: shake 0.5s;
  }
  .shake-angry {
    animation: angry-shake 0.5s;
  }

/* cool button styles */


  .hex-button {
    width: 60px;
    height: 70px;
    background-color: #ffc400;
    border: 0px;
    text-align: center;
    font-size: 24px;
    margin: 0px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.2s ease-in-out;
  }
  
  .hex-button:hover {
    transform: scale(1.2);
  }

  .letter-buttons-panel {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .hex-row {
    display: flex;
    justify-content: center;
  }
  
  .hex-button {
    margin: 4px;

  }

  .top-row,
.bottom-row {
  margin-top: -16px;
  margin-bottom: -16px;
}